<div>
<form [formGroup]="regForm" (ngSubmit)="userinfo(regForm.value)">
  <h1 style="margin-bottom:20px;">
    Register Form
  </h1>

  <div class="margin10">
    <label style="font-weight:900"> Username </label>
    <input type="text" formControlName="username" class="form-control">
  </div>

  <div class="req" *ngIf="username">This username is already taken.</div>
  
  <div class="margin10">
    <label style="font-weight:900"> Password </label>
    <input #pass type="password" formControlName="password" class="form-control">
  </div>
  
  <div class="margin10">
    <label style="font-weight:900"> Confirm Password </label>
    <input #cpass type="password" formControlName="cpassword" class="form-control">
  </div>
  
  <div class="req margin10" *ngIf="regForm.get('password').value != regForm.get('cpassword').value && regForm.get('cpassword').value != null">{{passdm}}</div>
  
  <input style="margin-bottom:20px;" type="checkbox" (change)="showPassword(pass)" (change)="showPassword(cpass)" > 
  <label style="font-weight:900">Show Password</label> 
  
  <input type="submit" value="Register" [disabled]="!regForm.valid " class="form-control btn btn-success">

</form>
</div>

