   <form [formGroup]="logForm" (ngSubmit)="loginfo(logForm.value)">
    <h1>
      Login Form
    </h1>

    <div class="margin20">
      <label style="font-weight:900">Username</label>
      <input type="text" formControlName="username" class="form-control">
    </div>
      
    <div class="margin20">
      <label style="font-weight:900">Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>
         
    <div class="req" *ngIf="failed">Username or Password is incorrect.</div>


    <input type="submit"  value="login" [disabled]="!logForm.valid" class="form-control margin20 btn btn-success" >

    </form>



